In [1]:
# Load all the required libraries
import json
import pandas as pd
from IPython.display import display, HTML

In [2]:
def load_json_file(file_path):
    with open(file_path) as f:
        data = json.load(f)
    return data

In [3]:
# Load different user schemas as json dictionaries
users_4me = load_json_file("./4me/users.schema.json")
users_scim_div = load_json_file("./scim-dev/users.json")
users_sf = load_json_file("./SF/users.json")
users_slack = load_json_file("./Slack/slack-users-schemas.json")

In [4]:
users_4me_attribute_list = users_4me["attributes"]
users_scim_div_attribute_list = users_scim_div["attributes"]
users_sf_attribute_list = users_sf["attributes"]
users_slack_attribute_list = users_slack["attributes"]

In [5]:
def get_attribute_name(attribute_list):
    attribute_name_list = []
    for attribute in attribute_list:
        attribute_name_list.append(attribute["name"])
    return sorted(attribute_name_list)

In [6]:
users_4me_attribute_name_list = get_attribute_name(users_4me_attribute_list)
users_scim_div_attribute_name_list = get_attribute_name(users_scim_div_attribute_list)
users_sf_attribute_name_list = get_attribute_name(users_sf_attribute_list)
users_slack_attribute_name_list = get_attribute_name(users_slack_attribute_list)

In [7]:
pd.DataFrame(
    data=[
        users_4me_attribute_name_list,
        users_scim_div_attribute_name_list,
        users_sf_attribute_name_list,
        users_slack_attribute_name_list,
    ],
    index=["4me", "scim.dev", "salesforce", "slack"],
).transpose()

                  4me           scim.dev         salesforce              slack
0              active             active             active             active
1           addresses          addresses          addresses          addresses
2         displayName        displayName        displayName        displayName
3              emails             emails   emailEncodingKey             emails
4        entitlements       entitlements             emails             groups
5              groups             groups       entitlements                 id
6                 ims                ims         externalId             locale
7              locale             locale             groups               name
8                name               name                 id           nickName
9            nickName           nickName             locale           password
10           password           password               name       phoneNumbers
11       phoneNumbers       phoneNumbers           nickName             photos
12             photos             photos           password  preferredLanguage
13  preferredLanguage  preferredLanguage       phoneNumbers         profileUrl
14         profileUrl         profileUrl             photos              roles
15              roles              roles  preferredLanguage           timezone
16           timezone           timezone         profileUrl              title
17              title              title              roles           userName
18           userName           userName           timezone           userType
19           userType           userType              title               None
20   x509Certificates   x509Certificates           userName               None
21               None               None           userType               None

In [8]:
df_4me = pd.DataFrame(data=users_4me_attribute_name_list, columns=["4me"])
df_scim_div = pd.DataFrame(
    data=users_scim_div_attribute_name_list, columns=["scim.dev"]
)
df_sf = pd.DataFrame(data=users_sf_attribute_name_list, columns=["salesforce"])
df_slack = pd.DataFrame(data=users_slack_attribute_name_list, columns=["slack"])

df_4me.merge(df_scim_div, how="outer", left_on="4me", right_on="scim.dev").merge(
    df_sf, how="outer", left_on="4me", right_on="salesforce"
)
df_merged = (
    df_4me.merge(df_scim_div, how="outer", left_on="4me", right_on="scim.dev")
    .merge(df_sf, how="outer", left_on="4me", right_on="salesforce")
    .merge(df_slack, how="outer", left_on="4me", right_on="slack")
)
df_merged.style.highlight_null(color="red")

In [9]:
common_elements = (
    set(users_4me_attribute_name_list)
    & set(users_scim_div_attribute_name_list)
    & set(users_sf_attribute_name_list)
    & set(users_slack_attribute_name_list)
)
common_elements = sorted(common_elements)

for common_element in common_elements:
    for attribute in users_4me_attribute_list:
        if attribute["name"] == common_element:
            users_4me_attribute = attribute
    for attribute in users_scim_div_attribute_list:
        if attribute["name"] == common_element:
            users_scim_div_attribute = attribute
    for attribute in users_sf_attribute_list:
        if attribute["name"] == common_element:
            users_sf_attribute = attribute
    for attribute in users_slack_attribute_list:
        if attribute["name"] == common_element:
            users_slack_attribute = attribute
    print("=" * 100)
    print(f"Attribute: {common_element}")
    pd.set_option("display.max_colwidth", 30)
    pd.set_option("display.width", 1000)
    df_4me = pd.DataFrame(
        {"attribute": users_4me_attribute.keys(), "value": users_4me_attribute.values()}
    )
    df_scim_div = pd.DataFrame(
        {
            "attribute": users_scim_div_attribute.keys(),
            "value": users_scim_div_attribute.values(),
        }
    )
    df_sf = pd.DataFrame(
        {"attribute": users_sf_attribute.keys(), "value": users_sf_attribute.values()}
    )
    df_slack = pd.DataFrame(
        {
            "attribute": users_slack_attribute.keys(),
            "value": users_slack_attribute.values(),
        }
    )
    df = (
        df_4me.merge(
            df_scim_div, how="outer", on="attribute", suffixes=("_4me", "_scim.dev")
        )
        .merge(
            df_sf, how="outer", on="attribute", suffixes=("_salesforce", "_salesforce")
        )
        .merge(df_slack, how="outer", on="attribute", suffixes=("_slack", "_"))
    )
    df = df.set_index("attribute")
    df.style.highlight_null(color="yellow")
    display(HTML(df.to_html()))

====================================================================================================
Attribute: active

====================================================================================================
Attribute: addresses

====================================================================================================
Attribute: displayName

====================================================================================================
Attribute: emails

====================================================================================================
Attribute: groups

====================================================================================================
Attribute: locale

====================================================================================================
Attribute: name

====================================================================================================
Attribute: nickName

====================================================================================================
Attribute: password

====================================================================================================
Attribute: phoneNumbers

====================================================================================================
Attribute: photos

====================================================================================================
Attribute: preferredLanguage

====================================================================================================
Attribute: profileUrl

====================================================================================================
Attribute: roles

====================================================================================================
Attribute: timezone

====================================================================================================
Attribute: title

====================================================================================================
Attribute: userName

====================================================================================================
Attribute: userType