In [1]:
# Load all the required libraries
import json
import pandas as pd
from IPython.display import display, HTML

In [2]:
def load_json_file(file_path):
    with open(file_path) as f:
        data = json.load(f)
    return data

In [3]:
# Load different user schemas as json dictionaries
users_4me = load_json_file("./4me/users.schema.json")
users_scim_div = load_json_file("./scim-dev/users.json")
users_sf = load_json_file("./SF/users.json")
users_slack = load_json_file("./Slack/slack-users-schemas.json")

In [4]:
users_4me_attribute_list = users_4me["attributes"]
users_scim_div_attribute_list = users_scim_div["attributes"]
users_sf_attribute_list = users_sf["attributes"]
users_slack_attribute_list = users_slack["attributes"]

In [14]:
all_elements = set(users_4me_attribute_name_list).symmetric_difference(
    set(users_scim_div_attribute_name_list),
    set(users_sf_attribute_name_list),
    set(users_slack_attribute_name_list),
)

all_elements = sorted(all_elements)
print(all_elements)

TypeError: set.symmetric_difference() takes exactly one argument (3 given)

In [5]:
def get_attribute_name(attribute_list):
    attribute_name_list = []
    for attribute in attribute_list:
        attribute_name_list.append(attribute["name"])
    return sorted(attribute_name_list)

In [6]:
users_4me_attribute_name_list = get_attribute_name(users_4me_attribute_list)
users_scim_div_attribute_name_list = get_attribute_name(users_scim_div_attribute_list)
users_sf_attribute_name_list = get_attribute_name(users_sf_attribute_list)
users_slack_attribute_name_list = get_attribute_name(users_slack_attribute_list)

In [7]:
df_4me = pd.DataFrame(data=users_4me_attribute_name_list, columns=["4me"])
df_scim_div = pd.DataFrame(
    data=users_scim_div_attribute_name_list, columns=["scim.dev"]
)
df_sf = pd.DataFrame(data=users_sf_attribute_name_list, columns=["salesforce"])
df_slack = pd.DataFrame(data=users_slack_attribute_name_list, columns=["slack"])

df_merged_1 = pd.merge(
    df_4me, df_scim_div, how="outer", left_on="4me", right_on="scim.dev"
)
df_merged_2 = pd.merge(
    df_slack, df_sf, how="outer", left_on="slack", right_on="salesforce"
)
df_merged = pd.merge(
    df_merged_1, df_merged_2, how="outer", left_on="4me", right_on="slack"
)
df_merged.style.highlight_null(color="red")

## Notes:

The actual scim RFC does not have all those attribute related to users under regular users schemas.
Seems like a lot vender added a lot non-required attribute from enterprise users schemas to regular users schemas for unknown reason.

In [9]:
common_elements = (
    set(users_4me_attribute_name_list)
    & set(users_scim_div_attribute_name_list)
    & set(users_sf_attribute_name_list)
    & set(users_slack_attribute_name_list)
)
common_elements = sorted(common_elements)

for common_element in common_elements:
    for attribute in users_4me_attribute_list:
        if attribute["name"] == common_element:
            users_4me_attribute = attribute
    for attribute in users_scim_div_attribute_list:
        if attribute["name"] == common_element:
            users_scim_div_attribute = attribute
    for attribute in users_sf_attribute_list:
        if attribute["name"] == common_element:
            users_sf_attribute = attribute
    for attribute in users_slack_attribute_list:
        if attribute["name"] == common_element:
            users_slack_attribute = attribute
    print("=" * 100)
    print(f"Attribute: {common_element}")
    pd.set_option("display.max_colwidth", 30)
    pd.set_option("display.width", 1000)
    df_4me = pd.DataFrame(
        {"attribute": users_4me_attribute.keys(), "value": users_4me_attribute.values()}
    )
    df_scim_div = pd.DataFrame(
        {
            "attribute": users_scim_div_attribute.keys(),
            "value": users_scim_div_attribute.values(),
        }
    )
    df_sf = pd.DataFrame(
        {"attribute": users_sf_attribute.keys(), "value": users_sf_attribute.values()}
    )
    df_slack = pd.DataFrame(
        {
            "attribute": users_slack_attribute.keys(),
            "value": users_slack_attribute.values(),
        }
    )
    df_merged_1 = df_4me.merge(
        df_scim_div, how="outer", on="attribute", suffixes=("_4me", "_scim.dev")
    )
    df_merged_2 = df_sf.merge(
        df_slack, how="outer", on="attribute", suffixes=("_slack", "_salesforce")
    )
    df_merged = df_merged_1.merge(df_merged_2, how="outer", on="attribute")
    df_merged_styled = df_merged.style.highlight_null(color="red")
    # df_merged_styled = df_merged_styled.highl
    display(HTML(df_merged_styled.to_html()))
    # df_merged.style.highlight_null(color="red")
    # display(HTML(df_merged.to_html()))

====================================================================================================
Attribute: active

====================================================================================================
Attribute: addresses

====================================================================================================
Attribute: displayName

====================================================================================================
Attribute: emails

====================================================================================================
Attribute: groups

====================================================================================================
Attribute: locale

====================================================================================================
Attribute: name

====================================================================================================
Attribute: nickName

====================================================================================================
Attribute: password

====================================================================================================
Attribute: phoneNumbers

====================================================================================================
Attribute: photos

====================================================================================================
Attribute: preferredLanguage

====================================================================================================
Attribute: profileUrl

====================================================================================================
Attribute: roles

====================================================================================================
Attribute: timezone

====================================================================================================
Attribute: title

====================================================================================================
Attribute: userName

====================================================================================================
Attribute: userType

In [ ]:
class ArbitraryPrecisionNumber:
    def __init__(self, value):
        self.value = value

    def __str__(self):
        return str(self.value)

    def __add__(self, other):
        if isinstance(other, ArbitraryPrecisionNumber):
            return ArbitraryPrecisionNumber(self.value + other.value)
        elif isinstance(other, int):
            return ArbitraryPrecisionNumber(self.value + other)
        else:
            raise TypeError("Unsupported operand type for +")

    def __sub__(self, other):
        if isinstance(other, ArbitraryPrecisionNumber):
            return ArbitraryPrecisionNumber(self.value - other.value)
        elif isinstance(other, int):
            return ArbitraryPrecisionNumber(self.value - other)
        else:
            raise TypeError("Unsupported operand type for -")

    def __mul__(self, other):
        if isinstance(other, ArbitraryPrecisionNumber):
            return ArbitraryPrecisionNumber(self.value * other.value)
        elif isinstance(other, int):
            return ArbitraryPrecisionNumber(self.value * other)
        else:
            raise TypeError("Unsupported operand type for *")

    def __truediv__(self, other):
        if isinstance(other, ArbitraryPrecisionNumber):
            return ArbitraryPrecisionNumber(self.value / other.value)
        elif isinstance(other, int):
            return ArbitraryPrecisionNumber(self.value / other)
        else:
            raise TypeError("Unsupported operand type for /")